@model MVCWebPresentationLayer.Models.Insert.JogoInsertViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JogoInsertViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>

            @{
                string[] Classificacao = Enum.GetNames(typeof(DTO.Enums.ClassificacaoIndicativa));
            }

            <div class="form-group">
                <label class="control-label col-md-2">Classificação</label>
                <div class="col-md-10">
                    <select class="form-control" name="Classificacao" id="Classificacao">
                        @for (int i = 0; i < Classificacao.Length; i++)
                        {
                            <option value="@i">@Classificacao[i]</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Desenvolvedora</label>
                <div class="col-md-10">
                    <select class="form-control" name="DesenvolvedorDTOID" id="DesenvolvedorDTOID">
                        @for (int i = 0; i < ViewBag.DevView.Count; i++)
                        {
                            <option value="@ViewBag.DevView[i].ID">@ViewBag.DevView[i].Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Genero</label>
                <div class="col-md-10">
                    <select class="form-control" name="GeneroDTOID" id="GeneroDTOID">
                        @for (int i = 0; i < ViewBag.GenView.Count; i++)
                        {
                            <option value="@ViewBag.GenView[i].ID">@ViewBag.GenView[i].Nome</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" type="date" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especificacoes" class="control-label"></label>
                <input asp-for="Especificacoes" class="form-control" />
                <span asp-validation-for="Especificacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Create").click(function (e) {

                var nome = $("#Nome").val();
                var preco = $("#Preco").val();
                var classificacao = $("#Classificacao").val();
                var especificacoes = $("#Especificacoes").val();
                var dataLancamento = $("#DataLancamento").val();
                var genero = $("#Genero").val();

                var sucesso = true;

                if (nome == "") {
                    $("#erroNome").html("Nome deve ser informado.");
                    sucesso = false;
                }
                else if (nome.length < 5 || nome.length > 50) {
                    $("#erroNome").html("Nome deve conter entre 5 e 50 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroNome").html("");
                }

                if (preco == null) {
                    $("#erroPreco").html("Preço deve ser informado.");
                    sucesso = false;
                } else if (preco < 1) {
                    $("#erroPreco").html("Preço não pode ser menor ou igual a zero.");
                    sucesso = false;
                }
                else {
                    $("#erroPreco").html("");
                }

                if (especificacoes == "") {
                    $("#erroEspecificacoes").html("As especificações devem ser informadas.");
                    sucesso = false;
                }
                else if (especificacoes.length < 50 || nome.length > 450) {
                    $("#erroEspecificacoes").html("As especificações devem conter de 50 a 450 caracteres.");
                    sucesso = false;
                }
                else {
                    $("#erroEspecificacoes").html("");
                }

                if (dataLancamento == "" || dataLancamento == 0) {
                    $("#erroDataLancamento").html("A data de lançamento deve ser informada.");
                    sucesso = false;
                } else if (dataLancamento < Date.now) {
                    $("#erroDataLancamento").html("Data de Lançamento inválida.");
                    sucesso = false;
                }
                else {
                    $("#erroDataLancamento").html("");
                }

                if (classificacao == 0) {
                    $("#erroClassificacao").html("A classificação deve ser informada.");
                    sucesso = false;
                }
                else {
                    $("#erroClassificacao").html("");
                }
                if (genero == "") {
                    $("#erroGenero").html("O gênero deve ser informado.");
                    sucesso = false;
                }

                if (!sucesso) {
                    e.preventDefault();
                }
            });
        });
    </script>
}