@model IEnumerable<MVCWebPresentationLayer.Models.Query.FiltroViewModel>

@{
    ViewData["Title"] = "FilterForGen";
}

<h1 style="text-align:center">Selecione um jogo para compra.</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesenvolvedorDTONome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneroDTONome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especificacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <span>@item.Preco R$</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesenvolvedorDTONome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroDTONome)
            </td>
            <td>
                <span>@item.DataLancamento.ToString("dd/MM/yyyy")</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especificacoes)
            </td>
        </tr>
}
    </tbody>
</table>
