@model IEnumerable<MVCWebPresentationLayer.Models.Insert.JogoInsertViewModel>

@{
    ViewData["Title"] = "FilterForDev";
}

<h1>FilterForDev</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calssificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesenvolvedorDTOID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneroDTOID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especificacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calssificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesenvolvedorDTOID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroDTOID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especificacoes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
